<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
 
</head>
<body>
    <div class="container" ng-app="UyeApp">     
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Yeni Form Oluştur</button>
        <div ng-controller="ExampleController">
    <form name="myForm" ng-submit="kaydet()">
        <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <button type="submit" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">Test Formu</h1>
          <h4>Üye Bilgi Formu</h4>
        </div>        
        <div class="modal-body">
            <div class="form-controller">
                <input type="date" ng-model="user.date" pattern="dd/MM/YYYY" valueAsDate="{{user.dateAsDate}}" />
                </div>
            <div class="form-control">
        <label>
            Ad:
            <input type="text" name="userName" ng-model="user.first" required="required">            
        </label>
    </div>
    <div class="form-control">
        <label>
            Soyad:
            <input type="text" name="lastName" ng-model="user.last" required="required">
        </label>
    </div>
    <div class="form-control">
        <label>
            Yaş:
            <input type="number" name="yas" ng-model="user.yas" required="required">
        </label>
    </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default">Kaydet</button>
        </div>
      </div>     
    </div>
  </div>
</form>
</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Yaş</th>
                <th>Form Oluşturma Tarihi</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat=" k in kaydedilenler">
                <td>{{k.first}}</td>
                <td>{{k.last}}</td>
                <td>{{k.yas}}</td>
                <td>{{k.date}}</td>
            </tr>

        </tbody>
    </table>
</div>
<script>
    angular.module('UyeApp', ["ngStorage"])
      .controller('ExampleController', ['$scope', function($scope) {
        $scope.user = [name=user.first, last=user.last,yas=user.yas,date=user.date];

    $scope.init= function(){
        $scope.kaydedilenler = JSON.parse(window.localStorage.get("kaydedilenler"));
    }
    $scope.kaydet = function(){
            $scope.kaydedilenler.push($scope.user);
            window.localStorage.set("kaydedilenler", JSON.stringify( $scope.user));
    }
    }]);
 </script>
</body>
</html>